<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>



    
    <form action="/app/signin" method="post">
        {%csrf_token%}

    <label for="">Username :</label><br><br>
        <input type="text" id="username" name="username" placeholder="Enter Username" required><br><br>

        <label for="">Password:</label><br><br>
        <input type="password" id="pass1" name="pass1" placeholder="Enter Password" required><br><br>
        <br><br>
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>

